:root {
  --clr-primary-200: #f3eed9;
  --clr-primary-400: #824936;

  --clr-neutral-100: #fff;
  --clr-neutral-900: #222c2a;

  --ff-primary: 'Montserrat', sans-serif;
  --ff-accent: 'Playfair display', serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  font-weight: 400;
  font-size: 1.3125rem;
  line-height: 1.6;
}

p {
  margin: 0;
}

h1,
h2,
h3 {
  color: var(--clr-primary-400);
  font-family: var(--ff-accent);
  font-weight: 900;
  line-height: 1;
  font-size: 3rem;
}

h2,
h3,
p {
  margin-bottom: 1em;
  margin-top: 1em;
}

img {
  display: block;
  max-width: 100%;
  border-radius: 10px;
}

img:hover {
  -webkit-filter: blur(0.1em);
  filter: blur(0.1em);
  transition: 0.5s ease-out;
}

.text-center {
  text-align: center;
}

header,
section {
  padding: 3rem 0;
}

@media (min-width: 40em) {
    header,
    section {
    padding: 3rem 0;
  }
}

.container {
  margin-inline: auto;
  width: min(90%, 70.5rem);
}


.split {
  display: flex;
  flex-direction: column;
}

@media (min-width: 40em) {
  .split {
    flex-direction: row;
  }

  .split > * {
    flex-basis: 100%;
  }

  .split > * + * {
    margin-left: 2em;
  }
}

.container--narrow {
  max-width: 34rem;
}

.bg-light {
  background-color: var(--clr-primary-200);
}

.bg-primary {
  color: var(--clr-neutral-100);
  background-color: var(--clr-primary-400);
}

.bg-dark {
  color: var(--clr-neutral-100);
  background-color: var(--clr-neutral-900);
}

.bg-black {
  color: #fff;
  background-color: black;
  
}

.bg-primary h2,
.bg-dark h2 {
  color: var(--clr-primary-200);
}

.external-link {
  text-decoration: underline dotted 0.2rem;
}

.external-link:hover {
  color: var(--clr-primary-400);
}

/* booking */

.form-area {
  border: 2px solid var(--clr-neutral-100);
  border-radius: 5px;
}

.text-box {
  border: 2px solid var(--clr-primary-400);
  border-radius: 5px;
  display: block 100%;
  width: 20em;
  color: black;
}

.form-group {
  padding: 1em;
}

.input-checkbox {
  display: inline-block;

}

.input-textarea {
  width: 20em;
  border-radius: 7px;
  color: black;
}

.submit-button {
  background-color: var(--clr-neutral-900);
  border-radius: 5px;
  padding: 1rem 1rem;
}

.submit-button:hover {
  background-color: var(--clr-primary-200);
  color: #222c2a;
  
}